service: ${file(./service_name.yml):service}
provider:
  name: aws
  runtime: nodejs10.16
  stage: ${opt:stage, 'development'}
  environment:
    STAGE: ${self:provider.stage}
    SLS_DEBUG: "*"
    PROVIDER: 'aws'
functions:
  hello:
    handler: handler.hello
    events:
      - https:
        path: hello
        method: post
package:
  exclude: 
    - 'test/**'
    - 'coverage/**'
    - 'LICENSE'
    - 'README.md'
    - '.travis.yml'
    - 'docs/**'
    - 'handler_azure.js'